* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  background-color: rgba(206, 103, 103, 0.1); }

.menu {
  background-color: rgba(255, 0, 0, 0.096);
  color: #a50060; }
  .menu__block {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 300px;
    background-color: rgba(255, 0, 255, 0.07); }
  .menu__cat-image {
    background-color: white;
    position: absolute;
    left: 6%;
    border: 5px solid #a50060;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    transition: width 0.5s,height 0.5s; }
  .menu__cat-cost {
    background-color: white;
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 20%;
    font-size: 40px;
    width: 200px;
    height: 50px;
    border: 5px solid #a50060; }

.container {
  position: relative;
  margin: 0px auto;
  max-width: 1200px;
  width: 1200px;
  border: 5px solid #a50060;
  height: 100%; }

.cat_image {
  width: 625px;
  height: 625px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid #a50060;
  border-radius: 150px; }

.cat__click-button {
  width: 650px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.cat--positioned {
  position: absolute;
  width: 800px;
  height: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.score {
  color: #a50060; }
  .score__number {
    text-align: center;
    font-size: 120px;
    width: 600px;
    height: 125px;
    display: inline-block; }
  .score__text {
    padding-left: 37%;
    font-size: 60px;
    width: 600px;
    height: 75px;
    margin-top: 20px;
    display: inline-block; }

.score--positioned {
  position: absolute;
  width: 600px;
  height: 250px;
  bottom: 0px;
  left: 25%; }

.menu--positioned {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  left: 0px;
  max-width: 350px;
  width: 350px;
  height: 1000px;
  border: 5px solid rgba(255, 0, 255, 0.2); }

.game-name__title {
  position: fixed;
  font-size: 150px;
  color: #a50060;
  top: 500px;
  right: 435px;
  display: inline-block;
  width: 100px;
  height: 100px; }

.small {
  width: 280px;
  height: 200px; }
